* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font-family: "Montserrat", sans-serif;
    background: #fff;
}

html {
    scroll-padding-top: 103px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ccc;
}

::-webkit-scrollbar-thumb {
    background: #351920;
}

::selection {
    background: #351920;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
.nav-link {
    text-decoration: none;
    transition: 0.2s linear;
}

.primary-btn {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.72px;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.2s linear;
    text-transform: capitalize;
    border: 0;
    padding: 16px 50px;
    border-radius: 12px;
    box-shadow: 4px 4px 0 0 #000;
    background-image: linear-gradient(to bottom, #df8b1d, #ecb523);
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.secondary-btn {
    color: #000;
    box-shadow: 4px 4px 0 0 #000;
    background: #fff;
    text-shadow: none;

}

.primary-btn:hover {
    box-shadow: none;
}

.title-group {
    margin-bottom: 60px;
}

.inner-gap {
    padding: 100px 0;
}

.section-title {
    font-size: 68px;
    font-weight: 900;
    line-height: 1.14;
    margin-bottom: 30px;
    -webkit-text-stroke: 1.8px #000;
    background-image: linear-gradient(to top, #fff, #e1921e);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    filter: drop-shadow(0px 4px #000);
}

.description {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 150%;
    text-transform: capitalize;
}

p {
    margin: 0;
    padding: 0;
}

/* loader */
.loader-wrapper {
    width: 100%;
    z-index: 9999;
    height: 100vh;
    display: flex;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
}

.loader::before {
    border-color: #FFE172 #0000;
    animation: inherit;
    animation-duration: .5s;
    animation-direction: reverse;
}

.loader::after {
    margin: 8px;
}

@keyframes l16 {
    100% {
        transform: rotate(1turn)
    }
}

/* Header */
header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: 0.2s linear;
    background-color: #0D1020;
}

header.fixed {
    top: 0;
    position: sticky;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar {
    padding: 30px 0;
    position: relative;
}

.navbar::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to bottom, #df8b1d, #ecb523);
}

header.fixed .navbar {
    padding: 20px 0;
}

.navbar-brand {
    font-size: 54px;
    margin: 0;
    line-height: 1;
}

#navbar-right .navbar-nav {
    gap: 8px;
}

#navbar-right .navbar-nav .nav-link {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 14px 30px;
    text-transform: capitalize;
    border-radius: 6px;
}

#navbar-right .navbar-nav .nav-link:focus,
#navbar-right .navbar-nav .nav-link:hover,
#navbar-right .navbar-nav .nav-link.active {
    color: #000;
    box-shadow: 0 4px 43.8px 0 rgba(246, 195, 62, 0.5), 4px 4px 0 0 #000;
    background-image: linear-gradient(to bottom, #df8b1d, #ecb523 133%);
}

.toggle-menu-icon {
    width: 24px;
    height: 20px;
    display: inline-block;
    position: relative;
    margin: 0;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.toggle-menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    background: #fff;
}

.toggle-menu-icon span:nth-child(1) {
    top: 2px;
}

.toggle-menu-icon span:nth-child(2),
.toggle-menu-icon span:nth-child(3) {
    top: 10px;
}

.toggle-menu-icon span:nth-child(4) {
    top: 18px;
}

.toggle-menu-icon.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.toggle-menu-icon.open span:nth-child(2) {
    transform: rotate(45deg);
}

.toggle-menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.toggle-menu-icon.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.navbar-toggler:focus,
button:focus {
    box-shadow: none;
}

/* Banner */
.banner {
    position: relative;
    background-image: url('../images/banner-bg.png');
    background-size: cover;
    background-position: bottom;
    padding: 151px 0 0;
}

.banner h1 {
    font-size: 116px;
    font-weight: 900;
    background: -webkit-linear-gradient(#e7a94e, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
    filter: drop-shadow(0px 4px #000);
}

.banner h1 span {
    color: var(--secondary-clr);
}

.banner p {
    font-size: 20px;
    max-width: 671px;
    margin-bottom: 40px;
    color: #fff;
}

/* About */
.about {
    position: relative;
    background-image: url('../images/tokenomics-bg.png');
    background-size: cover;
}

.about .description {
    max-width: 847px;
    margin: 0 auto 30px;
}

.about-desc {
    position: relative;
    z-index: 9;
    padding: 30px 50px;
    border-radius: 30px;
    box-shadow: 0 4px 43.8px 0 rgba(246, 195, 62, 0.5), 4px 4px 0 0 #000;
    background-image: linear-gradient(to bottom, #df8b1d, #ecb523);
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.5;
    color: #fff;
    margin-bottom: -100px;
}

/* partner */
.our-partner {
    position: relative;
    background-image: url('../images/partner-bg.png');
    background-size: cover;
    padding: 160px 0 100px;
}

.partner-logo {
    height: 100%;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 4px 4px 0 0 #000;
    background-color: #fff;
}

.our-partner .description {
    color: #fff;
    max-width: 549px;
    margin: 0 auto 50px;
}

/*  */
.about-token-card {
    padding: 30px 30px 10px;
    border-radius: 30px;
    box-shadow: 4px 4px 0 0 #000;
    background-color: #fff;
    margin-bottom: 42px;
}

.tokenomics-left {
    padding: 50px;
    border-radius: 30px;
    box-shadow: -4px 4px 0 0 #000;
    background-image: linear-gradient(to bottom, #df8b1d, #ecb523);
}

.presale-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 30px 0 30px 100px;
    border-radius: 30px;
    box-shadow: 0 4px 43.8px 0 rgba(246, 195, 62, 0.5), 4px 4px 0 0 #000;
    background-color: #fff;
}

.presale-wrapper h5 {
    font-size: 30px;
    font-weight: 600;
    color: #000;
}

.presale-wrapper h5 span {
    display: inline-block;
    width: 21px;
    height: 21px;
    flex-grow: 0;
    box-shadow: 0 2px 0 0 #000;
    background-color: #44f840;
    border-radius: 50%;
    margin-right: 16px;
}

.about-token-card h4 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    line-height: 1.14;
    padding-bottom: 30px;
    filter: drop-shadow(0 4px 0 #000);
    -webkit-text-stroke: 1px #000;
    background-image: linear-gradient(to bottom, #df8b1d, #ecb523 150%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
}

.about-token-card ul {
    border-top: 1px solid #B3B3B3;
    padding-top: 10px;
}

.about-token-card ul li {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 500;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.counter-card {
    text-align: center;
    padding: 20px 10px;
    border-radius: 12px;
    box-shadow: 4px 4px 0 0 #000;
    background-image: linear-gradient(to bottom, #df8b1d, #ecb523);
}

.tokenomics-left h4,
.counter-card h4 {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.26;
    text-shadow: 2px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 3px 0 #000;
    color: #fff;
    margin-bottom: 12px;
}

.counter-card p {
    font-size: 32px;
    font-weight: 800;
    line-height: 1.26;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
}

/* Roadmap */
.roadmap {
    position: relative;
    background-image: url('../images/roadmap-bg.png');
    background-size: cover;
}

.phase-img {
    padding: 10px;
    border-radius: 30px;
    background-color: #fff;
    overflow: hidden;
    display: inline-block;
}

.roadmap-card-1 .phase-img {
    background-image: linear-gradient(to bottom, #df8b1d, #ecb523);
}

.phase-img img {
    width: 100%;
    border-radius: 30px;
    height: 100%;
}

.phase-content h4 {
    display: inline-block;
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    text-shadow: 2px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 3px 0 #000;
    color: #fff;
    text-align: center;
    padding: 20px 50px;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 4px 4px 0 0 #000;
    background-image: linear-gradient(to bottom, #df8b1d, #ecb523 150%);
    margin-bottom: 30px;
}

.phase-content ul {
    display: grid;
    gap: 20px;
}

.phase-content ul li {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: baseline;
    gap: 14px;
}

.roadmap-card {
    padding: 100px 0;
    border-radius: 30px;
    box-shadow: 0px 5px 0px 0px #df8b1d;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    margin-bottom: 4px;
}

.roadmap-card-1 {
    border-radius: 0;
    border-left: 4px solid #ecb523;
    border-right: 4px solid #ecb523;
    box-shadow: none;
    background: #fff;
    margin-bottom: 0;
}

.roadmap-card-1 ul li {
    color: #000;
}

/* Disclaimer  */
.disclaimer {
    position: relative;
    background-image: url('../images/disclaimer-bg.png');
    background-size: cover;
}

.disclaimer .about-desc {
    max-width: 1262px;
    margin: 0 auto;
    text-align: center;
}

/* Footer */
footer {
    background-image: url('../images/footer-bg.png');
    color: #fff;
}

.footer-top {
    padding: 50px 0;
    position: relative;
    display: grid;
    gap: 30px;
    justify-items: center;
    text-align: center;
}

.footer-menu {
    padding: 24px 0;
    border-radius: 12px;
    background-image: linear-gradient(to right, rgba(30, 30, 30, 0) 12%, #191b32 47%, rgba(35, 41, 88, 0) 92%);
    width: 100%;
}

.footer-menu li a {
    display: block;
    font-size: 24px;
    padding: 10px 30px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    border-radius: 12px;
}

.footer-menu li a:hover {
    color: #000;
    box-shadow: 0 4px 43.8px 0 rgba(246, 195, 62, 0.5), 4px 4px 0 0 #000;
    background-image: linear-gradient(to bottom, #df8b1d, #ecb523 133%);
}

.footer-top p {
    max-width: 886px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.48px;
    text-align: center;
    color: #fff;
}

.social-media a {
    display: inline-block;
    transition: 0.2s linear;
}

.social-media a:hover {
    transform: translateY(-4px);
}

.footer-bottom {
    background-color: #000;
    padding: 10px 0;
}

.footer-bottom p {
    font-size: 14px;
    color: #fff;
}

/* Responsive CSS */

@media (min-width: 1400px) {}

@media (min-width: 1500px) {
    .container {
        max-width: 1458px;
    }
}

@media (min-width: 1700px) {}

@media (max-width: 1700px) {}

@media (max-width: 1600px) {
    .navbar-brand {
        font-size: 40px;
    }
}

@media (max-width: 1500px) {
    .banner h1 {
        font-size: 56px;
    }
}

@media (max-width: 1400px) {
    html {
        scroll-padding-top: 91px;
    }

    .navbar {
        padding: 16px 0;
    }

    header.fixed .navbar {
        padding: 14px 0;
    }

    .primary-btn {
        font-size: 20px;
        padding: 14px 30px;
    }

    .section-title {
        font-size: 60px;
        margin-bottom: 20px;
    }

    #navbar-right .navbar-nav .nav-link {
        font-size: 16px;
    }

    .title-group {
        margin-bottom: 40px;
    }

    .partner-logo {
        padding: 20px;
    }

    .our-partner .description {
        margin-bottom: 40px;
    }

    .tokenomics-left {
        padding: 40px;
    }

    .about-token-card h4 {
        font-size: 30px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .about-token-card ul li {
        font-size: 20px;
        padding: 15px 0;
    }

    .phase-content ul li,
    .counter-card p, .footer-menu li a {
        font-size: 20px;
    }

    .phase-content h4,
    .tokenomics-left h4, .counter-card h4, .presale-wrapper h5 {
        font-size: 26px;
    }

    .phase-content ul {
        gap: 15px;
    }

    .roadmap-card {
        padding: 80px 0;
    }

    .presale-wrapper {
        gap: 16px;
        padding: 20px 0 20px 40px;
    }
}

@media (max-width: 1199px) {


    .title-group {
        margin-bottom: 30px;
    }

    .inner-gap {
        padding: 80px 0;
    }

    .section-title {
        font-size: 50px;
    }

    .primary-btn {
        font-size: 18px;
        padding: 14px 20px;
        border-radius: 8px;
    }

    #navbar-right .navbar-nav .nav-link {
        padding: 10px;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .banner p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .about-img img {
        max-width: 560px;
    }

    .presale-wrapper, .about-token-card, .tokenomics-left {
        border-radius: 20px;
    }

    .about-token-card {
        margin-bottom: 22px;
    }

    .about-token-card ul li {
        font-size: 18px;
        padding: 12px 0;
    }

    .phase-content ul li, .counter-card p, .footer-menu li a {
        font-size: 18px;
    }

    .phase-content h4, .tokenomics-left h4, .counter-card h4, .presale-wrapper h5 {
        font-size: 22px;
    }

    .roadmap-card {
        padding: 60px 0;
    }

    .king-cat-paw {
        width: 300px;
    }

    .about-desc {
        font-size: 22px;
        padding: 30px 40px;
        margin-bottom: -100px;
    }

    .our-partner {
        padding: 140px 0 80px;
    }
}

@media (max-width: 991px) {


    #navbar-right .navbar-nav {
        max-width: 960px;
        margin: 0 auto;
    }

    #navbar-right .navbar-nav {
        gap: 2px;
        max-width: 720px;
    }

    #navbar-right .navbar-nav .nav-link {
        font-size: 18px;
        padding: 8px 20px;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        background: #0D1020;
        width: 100%;
    }

    .inner-gap {
        padding: 70px 0;
    }

    .section-title {
        font-size: 44px;
        margin-bottom: 20px;
    }

    .title-group {
        margin-bottom: 24px;
    }

    .banner h1 {
        font-size: 50px;
    }

    .banner-elem img {
        height: 320px;
    }

    .footer-top {
        padding: 30px 0;
    }

    .footer-bottom {
        padding: 20px 0;
    }

    .banner p {
        margin-bottom: 30px;
    }

    .primary-btn {
        padding: 10px 26px;
    }

    .description {
        font-size: 16px;
    }

    .footer-menu li a {
        font-size: 18px;
        padding: 8px 20px;
    }

    .partner-logo {
        padding: 14px;
    }

    .about-desc {
        padding: 20px 30px;
        font-size: 18px;
        margin-bottom: -100px;
    }

    .roadmap-card {
        padding: 40px;
    }

    .about-desc, .roadmap-card {
        border-radius: 20px;
    }

    .roadmap-card-1 {
        border-radius: 0;
    }

    .tokenomics-chart img,
    .about-img img {
        max-width: 400px;
    }

    .phase-content h4 {
        padding: 20px 30px;
        margin-bottom: 24px;
    }

    .social-media a img {
        width: 60px;
    }

    .roadmap-card {
        padding: 30px;
    }

}

@media (max-width: 767px) {
    html {
        scroll-padding-top: 71px;
    }

    .navbar-brand img {
        width: 160px;
    }

    #navbar-right .navbar-nav {
        max-width: 540px;
    }

    .footer-logo img {
        max-width: 200px;
    }

    .footer-menu li a {
        font-size: 16px;
        padding: 8px 12px;
    }

    .primary-btn {
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 6px;
    }

    .banner h1 {
        font-size: 40px;
    }

    .banner p {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .footer-menu {
        gap: 5px;
    }

    .inner-gap {
        padding: 60px 0;
    }

    .footer-top {
        padding: 40px 0;
    }

    .footer-top p {
        font-size: 18px;
    }

    .about .description {
        margin: 0 auto 20px;
    }

    .phase-img {
        width: 300px;
    }

    .phase-content h4 {
        padding: 15px;
        margin-bottom: 20px;
    }

    .banner {
        padding-top: 120px;
    }

    .partner-logo {
        padding: 10px;
    }

    .tokenomics-chart img, .about-img img {
        max-width: 350px;
    }
}

@media (max-width: 576px) {
    #navbar-right .navbar-nav .nav-link {
        font-size: 16px;
    }

    .description {
        font-size: 16px;
    }

    .inner-gap {
        padding: 40px 0;
    }

    .section-title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .our-partner {
        padding: 120px 0 40px;
    }

    .our-partner .description {
        margin-bottom: 30px;
    }

    .about-desc {
        padding: 20px;
        font-size: 14px;
        margin-bottom: -80px;
    }

    .footer-top p {
        font-size: 16px;
    }

    .footer-bottom {
        padding: 14px 0;
    }

    .footer-bottom p {
        font-size: 14px;
    }

    .banner h1 {
        margin-bottom: 20px;
    }

    .banner {
        padding: 110px 0 0;
    }

    .social-media a img {
        width: 40px;
    }

    .about-token-card ul li {
        font-size: 16px;
        padding: 8px 0;
    }

    .about-token-card ul li p {
        word-break: break-word;
    }

    .about-token-card {
        padding: 14px 14px 10px;
        margin-bottom: 30px;
    }

    .tokenomics-left {
        padding: 30px 16px;
    }

    .king-cat-paw {
        width: 220px;
    }

    .presale-wrapper {
        gap: 12px;
        padding: 14px 0 14px 14px;
    }

    .phase-content h4, .tokenomics-left h4, .counter-card h4, .presale-wrapper h5 {
        font-size: 20px;
    }

    .roadmap-card {
        padding: 14px;
    }

    .phase-content ul {
        gap: 6px;
    }

    .phase-content ul li {
        font-size: 16px;
        gap: 8px;
    }

    .phase-img {
        padding: 6px;
        border-radius: 20px;
    }

    .phase-img img {
        border-radius: 20px;
    }

    .presale-wrapper h5 {
        font-size: 18px;
    }

    .presale-wrapper h5 span {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

    .presale-wrapper, .about-token-card, .tokenomics-left {
        border-radius: 14px;
    }

    .about-token-card h4 {
        font-size: 22px;
    }
}

@media (max-width: 440px) {
    .banner h1 {
        font-size: 34px;
        margin-bottom: 12px;
    }

    .tokenomics-chart img, .about-img img,
    .phase-img {
        width: 200px;
    }

    .partner-logo {
        padding: 8px;
        border-radius: 8px;
    }

    .banner {
        padding: 100px 0 0;
    }

}